<po-page-dynamic-search p-title="Pokedex by Henry" (p-quick-search)="search($event)">
  <div *ngIf="pokemons$ | async as pokemons">
    <div class="flex-container">
      <a (click)="(openDetails(pokemon.name))" *ngFor="let pokemon of pokemons; let i = index">
        <div class="flex-item">
          {{pokemon.name}}
          <br>
          <img class="pokemon-image" src='https://img.pokemondb.net/sprites/bank/normal/{{pokemon.name}}.png'>
        </div>
      </a>
    </div>
  </div>
</po-page-dynamic-search>


