<po-page-default
  [p-actions]="actions"
  [p-breadcrumb]="breadcrumb"
  [p-title]="title" >

  <img class="pokemon-image" src='https://img.pokemondb.net/sprites/bank/normal/{{pokemonName}}.png'>
  <po-dynamic-view [p-fields]="fields" [p-value]="employee">
  </po-dynamic-view>

  <po-divider></po-divider>

  <po-table
    [p-auto-collapse]="true"
    [p-columns]="columns"
    [p-hide-columns-manager]="true"
    [p-items]="items"
    [p-sort]="true"
    [p-striped]="true">
  </po-table>
</po-page-default>




